<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class="content">
    <h1>Home</h1>
    <p>Bienvenido a Toji. Aquí verás tu progreso.</p>
</main>

<%- include('../partials/footer') %>