<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class="content">
    <h1>Mi Perfil</h1>
    <div class="workout-card">
        <p>Nombre de usuario: <strong>Usuario Antigravity</strong></p>
        <p>Email: <strong>ejemplo@gym.com</strong></p>
    </div>
    <button class="btn-login" style="background-color: #e74c3c;">Cerrar Sesión</button>
</main>

<%- include('../partials/footer') %>